@(users: Form[form.SignUpData])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
@request.messages(key)
}

@main("Sign Up Form") {
    @form(routes.UserController.addUser()) {
        @inputText(users("firstName"))
        @inputText(users("middleName"))
        @inputText(users("lastName"))
        @inputText(users("userName"))
        @inputPassword(users("password"))
        @inputPassword(users("confirmPassword"))
        @inputText(users("mobileNumber"))
        @inputRadioGroup(users("gender"),
        options("M"->"Male","F"->"Female"))
        @inputText(users("age"))
        @CSRF.formField

        <div class="buttons">
            @form(routes.UserController.profile()){
            <input type="submit" value="Sign Up"/>}
        </div>
    }
}