@(update: Form[form.UpdatePasswordData])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
@request.messages(key)
}

@main("Update Password Form") {
    @form(routes.UserController.passwordUpdate) {
        @inputText(update("username"))
        @inputPassword(update("password"))
        @inputPassword(update("confirmPassword"))

        <div class="buttons">
            @form(routes.UserController.welcome){
            <input type="submit" value="Update Password"/>}
        </div>
    }
}
